.header {
  align-items: center;
  background: $dark;
  box-shadow: $shadow;
  display: flex;
  justify-content: space-around;
  padding: 2rem 3rem;
}

.header__title {
  color: $title-color;
  font-size: 2.3rem;
}
