.list {
  color: $dark;
  margin: 2rem auto;
  max-width: 70rem;
}

.list h1 {
  font-size: 2rem;
  padding: 0.5rem 0.5rem 1rem;
}

.list__items {
  border: 0.1rem solid $dark;
  border-radius: 0.2rem;
}

.list__items__separator {
  background: $dark;
  height: 0.15rem;
  margin: 0 auto;
  width: 90%;
}

.fetching {
  font-size: 2rem;
  font-weight: 300;
  padding: 3rem;
}
